{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["import", { 
      "libraryName": "antd", 
      "libraryDirectory": "lib",
      "style": true 
    }],
    ["module-resolver", {
      "alias": {
        "icons": "./src/icons",
        "components": "./src/components",
        "design-system": "./src/components/design-system",
        "gkh": "./src/components/gkh",
        "templates": "./src/components/templates",
        "fonts": "./src/fonts",
        "pages": "./src/pages",
        "services": "./src/services",
        "store": "./src/store",
        "utils": "./src/utils",
        "variables": "./src/variables.less"
      }
    }],
    "transform-object-rest-spread"
  ]
}
