{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "icons": "./src/icons",
          "components": "./src/components",
          "design-system": "./src/components/design-system",
          "gkh": "./src/components/gkh",
          "templates": "./src/components/templates",
          "pages": "./src/pages",
          "services": "./src/services",
          "store": "./src/store",
          "utils": "./src/utils",
          "variables": "./src/variables.less",
          "src": "./src"
        }
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
