.home{
    display: flex; 
    flex-wrap: nowrap;
    justify-content:flex-start;
    padding: 3%;
  }

  .aside{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .megafonLogo{
      // padding-top: 1vh; 
      border: 1px solid;      
    }

    .menuBar{
      padding-top: 10vh;  
      border: 1px solid;
    }

  .UIContainer{
    padding-left: 7%;
    padding-right: 20%;

    :global{
      .ant-tabs-tab {
        height: auto; 
      }

      .ant-tabs-tab:hover {
          color: #731982;
      }
      
      .ant-tabs-tab-active{
        color: #731982;
      }

      .ant-tabs-ink-bar{
        background-color: #731982;
      }
    }
  }

 