.home{
    display: flex; 
    flex-wrap: nowrap;
    justify-content:flex-start;
    padding: 3%;
  }


  .UIContainer{
    padding-left: 7%;
    padding-right: 20%;
    :global{
      .ant-tabs-tab {
        height: auto; 
      }

      .ant-tabs-tab:hover {
          color: #731982;
      }
      
      .ant-tabs-tab-active{
        color: #731982;
      }

      .ant-tabs-ink-bar{
        background-color: #731982;
      }
    }
  }

 