body {
  font-family: "Museo Sans", "Open Sans";
  margin: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:disabled {
  background-color: #fafbfc;
}


li > p {
  margin-top: 16px;
}
@font-face {
  font-family: "MuseoSansRegular";
  src: url("/fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
  url("/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


#root{
  .ant-menu-item-selected{
    background-color: #EBEDEF;
  }
}