body {
  font-family: "Museo Sans", "Open Sans";
  margin: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.app-container{
  display: flex;
  flex-direction: column;
}

.header{
  height: 20vh;
}

.footer{
  height: 10vh;
}

.main{
  height: 70vh;
}

.gkh-container{
  display: flex; 
  flex-wrap: nowrap;
  justify-content:flex-start;
  height: 100%;
  padding: 3%;
}

.gkh-bar {
  background-color: white;
  color: rgba(255,255,255,0.75);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;

  a {
    color: gray;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    font-size: 16px;
  }

  a.active {
    color: black;
  }

  a:hover {
    color: rgb(243, 223, 136);
  }
}

.gkh-componentst{
  padding-left: 3%;
  height: 100%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:disabled {
  background-color: #fafbfc;
}


.profile-info {
 text-align: center;
}

.group {
}

li > p {
  margin-top: 16px;
}
@font-face {
  font-family: "MuseoSansRegular";
  src: url("/fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
  url("/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.login-form {
  max-width: 300px;
  height: 20px;
  margin: auto !important;
}

.login-form-button {
  width: 100%;
}

.error-message {
  color: red;
}

.button { 
}

.home-header{
  text-align: center;
  margin-top: 30px;
}